.container{
    background-color: #a0a5ad;
}
content-wrapper{
    display: block;
    width: 970px;
    margin: 0 auto 0px auto;    
    background: #d1d1d1;
    background: -moz-linear-gradient(top, #d1d1d1 0%, #faf9ff 40%, #c1c5c9 72%, #a5a5aa 100%);
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%);
    background: linear-gradient(to bottom, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%);
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .3);
}
.menu-wrapper{
    width: 970px;
    margin: 0 auto 30px auto;
    height: 100px;
/*    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    background: #d1d1d1; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d1d1 0%, #faf9ff 40%, #c1c5c9 72%, #a5a5aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%);
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .3);
}
#main-menu{
    height: 62px;
    width: 920px;
    margin: 0 auto 0 auto;
    border: 0px solid black;
    position: relative;
}
#main-menu>ul{
    background-color: #494a55;
}
#main-menu>ul>li{
    display: inline-block;
    height: 62px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #111;
    position: relative;
}
#main-menu>ul>li>a{
    color: #fff;
}
#main-menu>ul>li>a>.title{
    padding: 0 20px;
    line-height: 62px;
}
.logo{
    background-color: #9d120a;
}
#main-menu>ul>li.logo>a>img{
    padding: 10px 40px 10px 20px;
}
#main-menu>ul>li.logo>a>i{
    line-height: 62px;
    position: absolute;
    top: 0;
    right: 20px;
    font-weight: bold;
    font-size: 17px;
}
#main-menu .subitems{
    position: absolute;
    top: 62px;
    left: 0px;
    
    z-index: 9000;
    opacity: 0;
    pointer-events: none;
    transition-property: 'opacity';
    transition-duration: 0.3s;
}
#main-menu .subitems>li{
    height: 30px;
    width: 250px;
    background-color: #494a55;
    border: 1px solid #111;
    position: relative;
}
#main-menu .subitems>li>a{ 
    display: block;
    height: 30px;
    padding: 5px 0 0 20px;
    line-height: 30px;
    color: #fff;    
    position: relative;
    
}
#main-menu .subitems>li>a>i{
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 30px;
}
#main-menu>ul>li:hover ul.subitems{
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.sub-subitems{
    position: absolute;
    top: 0;
    left: 250px;    
    z-index: 9000;
    opacity: 0;
    pointer-events: none;
    transition-property: 'opacity';
    transition-duration: 0.3s;
}
#main-menu .sub-subitems>li{
    
    width: 250px;
    background-color: #494a55;
    border: 1px solid #111;
}
#main-menu .sub-subitems>li>a{ 
    display: block;
    
    padding: 5px 0 0 20px;
    line-height: 30px;
    color: #fff;    
    position: relative;
    
}
#main-menu .sub-subitems>li>a>i{
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 30px;
}
#main-menu>ul>li .subitems>li:hover ul.sub-subitems{
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.mm-active{
    position: absolute;
    left: 5px;
    top: 0px;
    line-height: 30px;
    font-size: 10px;
}
li:hover>a> .mm-active{
    color: red;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove {
     /* здесь прописаны эффекты проявления и исчезновения слайда */
     -webkit-transition: 1s linear all;
     -moz-transition: 1s linear all;
     -o-transition: 1s linear all;
     transition: 1s linear all;
     display: block !important;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove.ng-hide-remove-active {
     /* это стартовая точка анимации исчезновения и конечная точка анимации проявления */
     opacity: 1;
 }
.animation-fade.ng-hide-add.ng-hide-add-active,
.animation-fade.ng-hide-remove {
     /* это конечная точка анимации исчезновения и стартовая точка анимации проявления */
     opacity: 0;
     position: absolute;
}
/*=================================== slider ====================================*/
#main-slider>ul{
    
    width: 100%;
    height: 450px;
}
#main-slider>ul>li{
    height: 430px;
    width: 1000px;
    
}
.slide-img{
    display: block;
    width: 920px;
    height: 410px;
    margin: 10px 25px;
    display: inline-block;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .3);
}
.slide-title{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 17px;
    text-align: center;
}
.slide-desc{
    display: inline-block;
    width: calc(100% - 275px);
    float: right;
}




/*=========================================== footer ==============================*/
.footer-border{
    height: 40px;
    width: 970px;
    margin: 0 auto;
    background-color: green;
    background: url(../images/adv_top_bg.png) repeat-x;
}
.footer-wrapper{
    display: block;
    width: 970px;
    margin: 0 auto 0px auto;    
    background: #d1d1d1;
    background: -moz-linear-gradient(top, #d1d1d1 0%, #faf9ff 40%, #c1c5c9 72%, #a5a5aa 100%);
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%);
    background: linear-gradient(to bottom, #d1d1d1 0%,#faf9ff 40%,#c1c5c9 72%,#a5a5aa 100%);
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .3);
    height: 70px;
    position: relative;
}
.footer-content{
    position: absolute;
    left: 25px;
    top: 20px;
    display: block;
    background-color: #494a55;
    height: 50px;
    width: 920px;
}
