//
   Created by yaroslav on 8/16/16.


ul#main-menu
    
    li.m-10(ng-repeat="cat in categories")
        
        span.iblock.w-50.h-50    
            img(ng-if="!cat.img.name" ng-src="/images/catalog/{{cat.img}}" tip="icon")
            img(ng-if="cat.img.name" ngf-thumbnail="cat.img" tip="icon")

        span.iblock.h-50.m-5.vm {{cat.title[lang]}}
        span.iblock.h-50.m-5.vm {{cat.code}}
        span.iblock.h-50.m-5.vm {{cat.href}}
        span.iblock.h-50.m-5.lh-50.vt
            i.fa.fa-pencil-square-o.pointer.blue(aria-hidden="true" ng-click="ctg.editCategory(cat)" tip="Редактировать")

            i.fa.fa-plus.pointer.green(aria-hidden="true" style="margin-left: 10px;" ng-click="ctg.getSubcats(cat._id)" tip="Показать подкатегории")
            i.fa.fa-times.pointer.red(aria-hidden="true" style="margin-left: 10px;" ng-click="ctg.removeCat(cat._id)" tip="Удалить") 


button.btn.pointer(ng-click="ctg.addCategory()") Добавить Категорию
hr.m-t-10
# {{tmpCat}}
ul#main-subs
    
    li.m-10(ng-repeat="cat in subcats")
        
        span.iblock.w-50.h-50    
            img(ng-if="!cat.img.name" ng-src="/images/catalog/{{cat.img}}" tip="icon")
            img(ng-if="cat.img.name" ngf-thumbnail="cat.img" tip="icon")

        span.iblock.h-50.m-5.vm {{cat.title[lang]}}
        span.iblock.h-50.m-5.vm {{cat.code}}
        span.iblock.h-50.m-5.vm {{cat.href}}
        span.iblock.h-50.m-5.lh-50.vt
            i.fa.fa-pencil-square-o.pointer.blue(aria-hidden="true" ng-click="ctg.editCategory(cat)" tip="Редактировать")

            i.fa.fa-plus.pointer.green(aria-hidden="true" style="margin-left: 10px;" ng-click="ctg.addSubCat(cat._id)" tip="Показать подкатегории")
            i.fa.fa-times.pointer.red(aria-hidden="true" style="margin-left: 10px;" ng-click="ctg.removeCat(cat._id)" tip="Удалить") 
button.btn.pointer(ng-click="ctg.addCategory(tmpCat)" ng-show="tmpCat") Добавить подкатегорию

.fon(ng-show="ctg.form.show")
    div#category-form(style="border: 1px solid green;")
        h3.m-t-10 {{ctg.form.title}}

        .m-t-20.m-l-15
            label.iblock.w-100.vt.h-20 Изображение
            span.iblock.w-50.h-50
                img(ng-if="!ctg.form.tmp.img.name" width="50" height="50" ng-src="/images/catalog/{{ctg.form.tmp.img}}" tip="icon")
                img(ng-if="ctg.form.tmp.img.name" width="50" height="50" ngf-thumbnail="ctg.form.tmp.img")
            input.img-btn.iblock.h-50.vt(type="file" ngf-select ng-model="ctg.form.tmp.img" name="file"
            accept="image/*" ngf-max-size="2MB" required
            ngf-model-invalid="errorFile")
        .m-t-10.m-l-15
            label.iblock.w-100.vt.h-20 Заголовок
            input.vm(type="text" ng-model="ctg.form.tmp.title.ru")
        .m-t-10.m-l-15
            label.iblock.w-100.vt.h-20 Header
            input.vm(type="text" ng-model="ctg.form.tmp.title.en")
        .m-t-10.m-l-15
            label.iblock.w-100.vt.h-20 Ссылка
            input.vm(type="text" ng-model="ctg.form.tmp.href")
        .m-t-10.m-l-15
            label.iblock.w-100.vt.h-20 Код
            input.vm(type="text" ng-model="ctg.form.tmp.code") 

        span.iblock.h-50.m-r-20.m-t-30.right
            button.fa.fa-check.pointer.green.m-l-15(aria-hidden="true" ng-click="ctg.form.ok()")
            button.fa.fa-times.pointer.red.m-l-15(aria-hidden="true" ng-click="ctg.form.cancel()")