//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
popup-msg
hr

table#catalog
    tr
        th id
        th Name
        th Code
        th Actions
    tr(ng-repeat="p in products")
        td {{p._id}}
        td
            span.title {{p.title}}
        td {{p.code}}
        td
            button Edit
            button Delete
            
hr
button(ng-click="addProd = true") add
hr

.fon(ng-show="addProd")
    #product-form
        ul.tabs
            li(ng-click="prod.setTab('props')") Свойства
            li(ng-click="prod.setTab('preview')") Обзор
            li(ng-click="prod.setTab('full')") Подробно
        .tab-content(ng-show="prod.checkTab('props')")
            form-group
                label.iblock.w-100 Заголовок
                input(type="text" ng-model="form.tmp.title")
            form-group
                label.iblock.w-100 код
                input(type="text" ng-model="form.tmp.code")
            form-group
                label.iblock.w-100 Тип
                select(ng-model="tIndex")
                    option(ng-repeat="c in categories" value="{{$index}}"){{c.title}}
                    
                
                select(ng-model="tsIndex" ng-show="categories[tIndex].subitems.length > 0")
                    option(ng-repeat="sc in categories[tIndex].subitems" value="{{$index}}") {{sc.title}}
                    
                select(ng-model="tssIndex" ng-show="categories[tIndex].subitems[tsIndex].subitems.length > 0")
                    option(ng-repeat="ssc in categories[tIndex].subitems[tsIndex].subitems" value="{{$index}}") {{ssc.title}}
                span.m-10.w-50 {{categories[tIndex].code}}
                span.m-10.w-50 {{categories[tIndex].subitems[tsIndex].code}}
                span.m-10.w-50 {{categories[tIndex].subitems[tsIndex].subitems[tssIndex].code}}
        .tab-content(ng-show="prod.checkTab('preview')")
            form-group.h-260
                label.iblock.w-100 Изображение    
                .img-btn
                    input(type="file" ngf-select ng-model="form.tmp.icon" name="file"
                        accept="image/*" ngf-max-size="2MB" required
                        ngf-model-invalid="errorFile")
                .thumb
                    img(ngf-thumbnail="form.tmp.icon")
            form-group
                label.iblock.w-p100 Описание
                div.text-area.full-text(text-angular ng-model="form.tmp.short")
                
        .tab-content(ng-show="prod.checkTab('full')")
            form-group
                label.iblock.w-p100 Изображение
                .img-btn
                    input(type="file" ngf-select ng-model="form.tmp.mainPic" name="file"
                        accept="image/*" ngf-max-size="2MB" required
                        ngf-model-invalid="errorFile")
                .thumb
                    img(ngf-thumbnail="form.tmp.mainPic")
                div(style="clear: both;")
                div.text-area.full-text(text-angular ng-model="form.tmp.full")
                    
        .footer
            button(ng-click="prod.addProd()") Ok
            button(ng-click="addProd = false") Cancel